<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gn.demo.mapper.MenuMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.gn.demo.entity.Menu">
                    <id column="id" property="id"/>
                    <result column="parent_id" property="parentId"/>
                    <result column="url" property="url"/>
                    <result column="resources" property="resources"/>
                    <result column="path" property="path"/>
                    <result column="name" property="name"/>
                    <result column="component" property="component"/>
                    <result column="title" property="title"/>
                    <result column="level" property="level"/>
                    <result column="sort_no" property="sortNo"/>
                    <result column="icon" property="icon"/>
                    <result column="type" property="type"/>
                    <result column="remarks" property="remarks"/>
                    <result column="gmt_create" property="gmtCreate"/>
                    <result column="gmt_modified" property="gmtModified"/>
                    <result column="created_by" property="createdBy"/>
                    <result column="updeted_by" property="updetedBy"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, parent_id, url, resources, path, name, component, title, level, sort_no, icon, type, remarks, gmt_create, gmt_modified, created_by, updeted_by
        </sql>
</mapper>